{% extends 'kulutused/../base.html' %}
{% load crispy_forms_filters %}
{% load django_bootstrap5 %}

{% block title %}Lisa võlgenvus{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <h3>Lisa võlgnevus</h3>
            <form method="post" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Kinnita</button>
            </form>
        </div>
    </div>
{% endblock %}
